.line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.line{*zoom:1;}
.unit{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}
.dashboard_column { float: left; overflow: hidden; }
.standard_column { }
.dashboard_module {
	background: #efefef;
  margin: 0 10px 20px 10px;
  min-width: 330px;
  max-width: 600px;
}
	.dashboard_module h2 {
		background: #fff;
		border-bottom: 3px solid #666;
		font-size: 1.2em;
		font-weight: normal;
		margin: 0;
		padding: 5px 5px 0 0;
	}
	.dashboard_module p {
		margin: 5px;
	}
	.dashboard_module ul, .dashboard_module ul li{
		padding: 0;
		margin: 0;
		list-style: none;
	}
		.dashboard_module ul li {
			padding: 5px;
			border-bottom: 1px solid #ddd;
		}
		.dashboard_module li:hover { background: #ffc; }
		.dashboard_module ul li.alternate {
			color: #666;
		}
			.dashboard_module ul li.alternate a {
				color: #555;
			}
		.dashboard_module ul li span {
			display: block;
		}
		.dashboard_module ul li span.virtual {
			font-style: italic;
		}
		.dashboard_module ul li span.details {
			color: #999;
			font-size: 0.8em;
		}
		.dashboard_module a.addition { color: #393; }
		.dashboard_module a.subtraction { color: #933; }
		
		.dashboard_module li .modifications { visibility: hidden; }
		.dashboard_module li:hover .modifications { visibility: visible; }
    .modifications a {
    	color: #666;
    	font-size: 0.8em;
    	padding: 0.3em;
    	text-decoration: none;
    }
    a.create:hover { background: #363; color: #fff; }
    a.retrieve:hover { background: #cc9; color: #000; }
    a.update:hover { background: #c63; color: #fff; }
    a.delete:hover { background: #933; color: #fff; }
		
.user_action_list { border-bottom: 1px solid #ccc; margin-top: 1em; }
.user_action_list a { border-top: 1px solid #ccc; color: #333; display: block; padding: 3px 0px 3px 3px; text-decoration:none; }
.user_action_list a:hover, .user_action_list a:visited:hover { background: #ddf; color: #000;}