.dashboard_module {
	background: #efefef;
	float: left;
	margin: 0 20px 20px 0;
	width: 450px;
}
	.dashboard_module h2 {
		background: #fff;
		border-bottom: 3px solid #666;
		color: #000;
		font-size: 1.2em;
		font-weight: normal;
		margin: 0;
		padding: 5px 5px 0 0;
	}
	.dashboard_module p {
		margin: 5px;
	}
	.dashboard_module ul, .dashboard_module ul li{
		padding: 0;
		margin: 0;
		list-style: none;
	}
		.dashboard_module ul li {
			padding: 5px;
			border-bottom: 1px solid #ddd;
		}
		.dashboard_module li:hover { background: #ffc; }
		.dashboard_module ul li.alternate {
			color: #666;
		}
			.dashboard_module ul li.alternate a {
				color: #555;
			}
		.dashboard_module ul li span {
			display: block;
		}
		.dashboard_module ul li span.virtual {
			font-style: italic;
		}
		.dashboard_module ul li span.details {
			color: #999;
			font-size: 0.8em;
		}
		.dashboard_module a.addition { color: #393; }
		.dashboard_module a.subtraction { color: #933; }